@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

/* custom colors  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bgcolor: #f1f5fd;
  --primary-color: #6f5de7;
  --text-color: #828286;
  --main-text-color: #333333;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}


/* --------------------------------- navbar css style starts 
                        -------------------------------------------------------*/
.navbar-bg {
  background-color: var(--bgcolor);
  padding: 2rem 0;
  z-index: 99;
}

.navbar-brand {
  font-size: 2.3rem;
}

.navbar li {
  padding: 0 2rem;
}

.navbar li a {
  font-size: 1.4rem;
  /* font-weight:lighter; */
  position: relative;
}

.navbar li a:hover {
  color: var(--primary-color) !important;
  text-shadow: 0 0.2rem 0.3rem rgba(183, 171, 255, 0.5);
  transition: linear 0.3s;
}

.btn-style {
  width: 9rem;
  height: 4rem;
  border-radius: 2rem !important;
  color: #fff;
  background-color: var(--primary-color);
  text-transform: capitalize;
  font-size: 1.2rem;
  transition: linear 0.3s;
}

.btn-style:first-child {
  margin-right: 1rem;
}

.btn-style:hover {
  border: 0.1rem solid var(--primary-color);
  background-color: var(--bgcolor);
  color: var(--primary-color);
}

/* --------------------------------- hero css style starts 
                        -------------------------------------------------------*/

header {
  height: 100vh;
  width: 100%;
  background-color: var(--bgcolor);
}

.main-hero-container {
  height: 80vh;
  display: flex;
  /* border: 2px solid black; */
}

.main-hero-container h1 {
  font-weight: bold;
  font-size: 3.6rem;
  width: 75%;
}

.main-hero-para {
  font-size: 1.3rem;
  color: var(--text-color);
  font-weight: lighter;
  margin: 2rem 0 4rem 0;
  line-height: 1.9rem;
}

.main-hero-container h3 {
  font-weight: lighter;
}

.input-group {
  position: relative;
}

.form-control-text {
  height: 5rem;
  outline-style: none;
  position: absolute;
  border: none;
  padding: 1.5rem !important;
  font-size: 1.4rem;
  font-weight: lighter;
}

.input-group-btn {
  position: absolute;
  right: 27%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0.6rem !important;
  cursor: pointer;
}


/* right side of hero section  */

.main-hero-img {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  height: 80vh;

}

.main-hero-img img {
  width: 60%;
  height: 75%;
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.25);
  border-radius: 1.5rem;
  /* position: absolute; */
}

/* .main-hero-img .main-hero-img2 {
  position: absolute;
  width: 40%;
  height: 40%;
  left: 50%;
  top: -4%;
} */

/* --------------------------------- Main css style starts 
                        -------------------------------------------------------*/



.main-container {
  width: 80vw;
  padding: 5rem;
  box-shadow: 0 .4rem 1.2rem rgba(0, 0, 0, 0.2);
  margin-top: -10rem;
  background-color: white;
  border-radius: .5rem;
  /* border: 2px solid red; */
}

.main-container .main-heading {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 0.5rem;
  word-spacing: 1rem;
}

.main-container-subdiv {
  padding: 0 4rem;
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.25);
  /* border: 2px solid red; */
}

.main-container-subdiv .sub-heading {
  font-size: 2rem;
  font-weight: normal;
}

.fontawsome-style {
  font-size: 2.5rem;
  color: var(--primary-color);
  width: 6rem;
  height: 6rem;
  margin: 2rem auto;
  background-color: var(--bgcolor);
  border-radius: 50%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
 transition: linear 0.1s;
}

/*! Hover Effect Pending */

/* .main-container-subdiv .fontawsome-style:hover{
  transition: linear 0.3s;
  border: 0.1rem solid var(--primary-color);
  background-color: #f1f5fd !important;
  color:#6f5de7;
} */

.main-container-subdiv:hover{
  background-color: var(--bgcolor);
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.50);
 }

.main-container-subdiv:hover > .fontawsome-style {
  font-size: 3rem;
}



/* --------------------------------- About us css style starts 
                        -------------------------------------------------------*/

.common-section {
  margin: 5rem 0rem;
}

.our-service-leftside-img img {
  width: 58%;
  height: 75%;
  margin-top: 10rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.8rem 0.8rem;
  border-radius: 1.5rem;
}


.our-services-list h1 {
  font-weight: bold;
}

.our-services-list {
  padding-left: 2rem;
}

.our-services-info {
  margin-top: 4rem;
}

.our-services-list .mini-title {
  text-transform: uppercase;
  font-weight: normal;
  margin: 3rem 0;
  text-align: left;
  font-size: 1.5rem;
}

.our-services-number {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  border: 0.1rem solid var(--primary-color);
  font-size: 1.5rem;
  color: var(--primary-color);
  display: grid;
  place-items: center
}

.services-btn {
  width: 12.5rem;
  height: 4rem;
  border-radius: 2rem !important;
  color: var(--primary-color);
  background-color: white;
  text-transform: capitalize;
  font-size: 1.4rem;
  border: .1rem solid #6f5de7;
}

.our-services-list p {
  margin: 1rem;

}

/* AboutUs Second section  */

.aboutus-second-section {
  padding-left: 5rem;
  margin-top: 7rem;
}


/* --------------------------------- About us css style end 
                        -------------------------------------------------------*/




/* --------------------------------- Services css style end 
                        -------------------------------------------------------*/

.services-logo {
  margin: 1rem 0rem;
}
.work-container-subdiv {
  box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.25);
  display: grid;
  place-items: center;
  /* border: 2px solid red; */
  cursor: pointer;
}

.work-container-subdiv:hover > .fontawsome-style {
  font-size: 3rem;
}

.work-container-subdiv:hover{
 background-color: var(--bgcolor);
 box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.50);
}

.services{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
} 









/* --------------------------------- Services css style end 
                        -------------------------------------------------------*/

@media(min-width : 992px){
  .service-container .col-lg-4{ 
      flex: 0 0 auto;
      width: 30% !important;
      margin: 2.5rem auto;
  }

  .main-line-spece .col-lg-4 {
    flex: 0 0 auto;
    width: 30% !important;
    margin: 2.5rem auto;
  }
}